<div class="container modern-container">
    <div class="mb-2">
        <p>Contactanos a:</p>
        <ul>
            <li>
                <p>Youtube</p>
                <span>franco.com</span> <br><i class="bi bi-youtube"></i>
            </li>
            <li>
                <p>Facebook</p>
                <span>@franco</span> <br><i class="bi bi-facebook"></i>
            </li>
            <li>
                <p>Tik Tok</p>
                <span>@franco</span> <br><i class="bi bi-tiktok"></i>
            </li>
        </ul>
    </div>
</div>