.header {
    background-color: #fff;
}

.brand-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #212529;
}

.nav-link {
    color: #495057;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.nav-link:hover {
    color: #0d6efd;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #0d6efd;
}