.split-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 100%;
    min-height: 0;
}

.panel {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.form-panel {
    flex: 1 1 45%;
}

.list-panel {
    flex: 1 1 55%;
}